DATABASE_URL=file:/app/prisma/prod.db

# Authentification
APP_PASSWORD=MotDePasseSecurise123!
AUTH_SECRET=une_chaine_aleatoire_longue_et_secrete

# Clé API Anthropic
ANTHROPIC_API_KEY=

# Clé API Pappers
PAPPERS_API_KEY=

# Clé API Google Places
GOOGLE_PLACES_API_KEY=

# Apify
APIFY_ACTOR_ID=
APIFY_API_TOKEN=

# URL formulaire contact
CONTACT_FORM_URL=https://aissociate.re/formulaire
